fastapi
uvloop
uvicorn
gguf
openai 
compressed_tensors
dill
partial_json_parser
pydantic
ipython
zmq
starlette
pybase64
orjson
msgspec
setproctitle
aiohttp
einops
jsonschema
soundfile
flashinfer-python
python-multipart
websockets
python-dotenv
prometheus_client
torchcodec
numpy==2.3.5
xgrammar

